.App {
  font-family: "Roboto", sans-serif;
}

.search {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

input[name="search"] {
  font-family: inherit;
  width: 700px;
  height: 50px;
  margin: 60px 0;
  background-color: #ebe3e2;
  border: 1px solid #dcc8c8;
  padding-left: 25px;
  outline: none;
}

.line-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  box-sizing: border-box;
  width: 1200px;
  height: 80px;
  background-color: #fcfbfb;
  margin-bottom: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  &:hover {
    background-color: #f7efef;
    cursor: pointer;
  }
}

@media (max-width: 1247px) {
  .line {
    width: 80vw;
  }
  input[name="search"] {
    width: 60vw;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 28px;
  }
}
